@import 'global';
@import 'container';

.gamelist {
	$text-color: #303438;

	ul {
		margin: 5% 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		position: relative;
		margin: 1em 0;
	}

	.no-games {
		$muted-text-color: lighten($text-color, 35%);
		font-size: 85%;
		color: $muted-text-color;

		a {
			font-weight: bold;
			padding-bottom: 0.25em;

			&:hover {
				border-bottom: 0.08em dotted $muted-text-color;
			}
		}
	}

	.game .link {
		padding: 0.25em 0;
		height: 100%;
		display: block;
		letter-spacing: 0.05em;
		box-sizing: border-box;

		&:hover {
			text-decoration: underline;
		}
	}
}
