@import 'global';

.homepage {
	$phone: 768px;
	$text-color: #303438;

	position: relative;

	color: $text-color;
	width: 50vw;
	min-height: 50vh;
	margin: 5vh auto;
	text-align: center;
	background-color: white;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08);

	@media (max-width: $phone) {
		width: 90vw;
		min-height: 95vh;
		margin: 2.5vh 5vw;
	}

	section {
		margin-top: 15%;
		@media (max-width: $phone) {
			margin-top: 30%;
		}
	}

	.container {
		position: relative;
		width: 90%;
		height: 90%;
		margin: auto;
		padding: 10% 0;
	}

	.light {
		font-size: 85%;
		color: lighten($text-color, 35%);
	}

	h1, h2, h3 {
		margin: 0;
	}

	.btn {
		$color: #FFD27F;

		transition: background-color 0.25s;
		display: inline-block;
		border: 0.08em solid $color;
		border-radius: 0.2em;
		padding: 1em 0;
		margin: 0.5em 0;
		box-sizing: border-box;

		/* larger screens */
		width: 45%;
		margin: 0.5em 2.5%;

		@media (max-width: $phone) {
			width: 100%;
			margin: 0.5em 0;
		}

		&:hover {
			background-color: lighten($color, 22%);
		}
	}
}
