.table {
	margin: auto;
	width: 50vw;
	height: calc(50vw / 7 * 6);
	position: relative;
	z-index: 1;
	line-height: 0;
}
.col {
	position: relative;
	height: 100%;
	width: calc(100% / 7);
	display: inline-block;

	&:hover .hole {
		box-shadow: 0 0 0 50px #1583EF;
	}
}
.cell {
	position: relative;
	width: 100%;
	height: calc(100% / 6);
	display: inline-block;
	overflow: hidden;
}
.hole {
	box-shadow: 0 0 0 50px #2593FF;
	height: 80%;
	width: 80%;
	margin: 10%;
	border-radius: 50%;
}

.player1 {
	background-color: red;
}
.player2 {
	background-color: blue;
}
